{% extends "homelayout.html" %}
{% block title %} Donations {% endblock %}
{% block content %}
<div class="ui container" id="wrapper">
    <div class="ui mini breadcrumb" style="margin-bottom: 15px;">
        <a class="section">Home</a>
        <i class="right chevron icon divider"></i>
        <a class="section active">Donations</a>
    </div>
    <div class="ui grid">
        <div class="sixteen wide column"> 
            {% block balance %} 
                {{ super() }}
            {% endblock %} 
            <h5>Donations</h5>            
            <div class="ui segment" style="margin-bottom: 50px; padding-bottom: 20px; height: auto;">
                    <table class="ui celled fluid unstackable table" id="donationTable">
                            <thead>
                                <tr>
                                    <th>Ttitle</span></th>
                                    <th>Amount (&#8358;)</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>                                
                                {% for donation in donations %}
                                    <tr>
                                        <td>
                                            <h4 class="ui image header"> 
                                                <div class="content">
                                                    {{ donation.name }}
                                                    <div class="sub header">{{ donation.created.strftime('%d-%b-%Y') }}</div>
                                                </div>
                                            </h4>
                                        </td>
                                        <td style="color:red">
                                        - {{ "{:,.0f}".format(donation.amount) }}
                                        </td> 
                                        <td>
                                            {{ donation.remark }}
                                        </td>
                                    </tr>  
                                {% endfor %}                                                     
                            </tbody>
                        </table>
            </div>
            <!-- Tab ends here -->
        </div>
    </div>
</div>
<script>
    $(document).ready( function () {
        $('#donationTable').dataTable({
            "aaSorting": []
        });
    } );    
</script>
{% endblock %}