{% extends "auth/layout.html" %}

{% block head %}
<link rel="apple-touch-icon" sizes="57x57" href="static/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="static/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="static/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="static/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="static/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="static/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="static/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="static/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="static/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="144x144"  href="static/favicon/android-icon-144x144.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="static/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ url_for('manifest') }}">
<meta name="msapplication-TileColor" content="#0033ff">
<meta name="msapplication-TileImage" content="static/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#0033ff">	 
<style>            
    body {
        background-color: #0033ff; 
        color: #fff;    
    }
    body > .grid {
        height: 100%;
    }
    .image {
        margin-top: -150px;
        height: 100px;
        width: auto;
    }
    .column {
        max-width: 450px;
    }  
    input, button, .message { 
        margin: 0px 15px 0px 15px !important;        
    }
    input, .user.icon, .lock.icon {
        margin-left: 15px !important;
        padding-right: 15px !important;         
    }
    /* button {
        width: 345px  !important;
    } */
    .label {
        float: left !important;
        padding: 0px 0px 5px 15px;
    }
    h2 {
        margin: 3px 0px 10px 0px; 
    }
</style>

<script>    
    document.addEventListener("DOMContentLoaded", () => {
        login_btn = document.querySelector("#login_btn");
        inp = document.querySelector("#inp");

        comp_styles = window.getComputedStyle(inp);
        new_width = comp_styles.getPropertyValue('width');

        login_btn.style.width = new_width
    })
</script>
{% endblock %}

{% block body %} 
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <img src="{{url_for('static', filename='images/logo.png')}}" class="image">  
            <h2>
                <div class="content" style="color: #fff; margin-top: 0px; padding: 0px;">Sani Abdulkadir Forum</div>          
            </h2> 
            <h3>Login</h3>           
            {% if error %}            
                <div class="ui error message">
                    <i class="close icon"></i>
                    {{ error }}
                </div>
            {% endif %}
            
            <form class="ui large form" method="POST" action="{{ url_for('login') }}">
                <div class="ui stacked">
                    <div class="field">
                        <div class="label">
                            Username
                        </div>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="Username" value="{{ request.form.username }}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Password
                        </div>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password" id="inp">
                        </div>
                    </div>
                    <button class="ui large fluid submit button login" id="login_btn">Login</button>
                </div>       
            </form>  
        </div>
    </div>
    <a href="#" class="ui bottom right attached orange pointing label">Need help?</a>
{% endblock %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>